extends layout

block content
		#about
			section
				.headline.grid-x
					.cell 
					p We help you share your vision to those who could learn, buy or invest in you. We’re adept at writing for customers, physicians, patients and high-level decision makers.
				.grid-x.side-content
					.cell.large-6.first
						h4 History  
						p Progress and pitfalls have shaped our client's work since Fuel's founding in 2012. What we remember most:
						p.label Technology
							p.content 
								span Rise of AI and machine learning,
								span blockchain 
								span extension of cloud computing, 
								span Facebook's data privacy scandal made online security a household concern. 
								span Security breaches affected most of us, with Equifax, Facebook, Target, Uber, eBay with the highest profile leaks. The US voter database breach of 2015 exposed 191 million records.    
						p.label Medicine
							p.content
								span Advances in cancer detection, treatment and care. Science calls Cancer Immunotherapy the "Breakthrough of the Year" in 2013. 
								span Opioid crisis continues; fentanyl implicated in rising overdose deaths. Local heroes mount novel efforts, including medication-assisted therapy and naloxone rescue. • 
					.cell.large-6
						.container-hot
								img(src='../images/medic.jpg', alt='See our History!', width='', height='', border='0')
					.grid-x.second
						.cell.large-6
							h4 Team
							p Our team has talent, tenacity and a track record for success. We bring large brand experience to you. We have numerous tools at our disposal -- strategy, data, relational and technical skills.
						.cell.large-6
							.container-hot
								p insert something here
			section
				h4 Track Record

				p What makes Fuel Copy special is its award-winning team with a track record of generating about $50 million in new sales and funding. We’re strategists, writers and editors who have up to 20 years experience helping small shops to Fortune 500 companies. 

				p We’ve advised and written for more than 120 clients and appear in over 1,000 websites, ad campaigns and reports.

				p Our team’s journalism and public relations coverage is found in Business Insider, enGadget, Flying Kite Media, Grid magazine, MedCity News, Medical News Today and The Philadelphia Inquirer. 

				p We are honored to have created for:   
				ul Brands:
					li Benefiber
					li Colgate® Oral Care
					li iTriage (now part of Aetna) 
					li Johnson & Johnson
					li Mitsubishi 
					li Nordstrom Rack 
					li TNT cable 
					li VIZIO 

				ul Tech companies:
					li Collaborative Drug Discovery
					li Comodo
					li Ingram Micro
					li Modernizing Medicine
					li Paysa
					li Shoulder Roller
					li Truveris

				ul Medical centers and nonprofits:
					li American College of Obstetricians and Gynecologists 
					li David Geffen School of Medicine at UCLA 
					li Huntsman Cancer Institute, University of Utah
					li National Hemophilia Foundation
					li Public Health Management Corporation
					li Society for Healthcare Epidemiology of America
					li University of Pennsylvania
	 


