extends layout

block content
	#about
		section 
			p We help you share your vision to those who could learn, buy or invest in you. We’re adept at writing for customers, physicians, patients and high-level decision makers. 
			h4 History  
			p Prior to founding Fuel Copy in 2012, Caroline Leopold raised millions in grant funding and helmed marketing campaigns for health nonprofits. Caroline discovered a demand for her skills, so she wrote for private clients, including Fortune 500 companies and medical centers. That work evolved into Fuel Copy, a company of marketing and medical writers who help innovators gain visibility and investment. 
			h4 Team
			p Our team has talent, tenacity and a track record for success. We bring large brand experience to you. We have numerous tools at our disposal -- strategy, data, relational and technical skills.
		section
			h4 Bragging

			p What makes Fuel Copy special is its award-winning team with a track record of generating about $50 million in new sales and funding. We’re strategists, writers and editors who have up to 20 years experience helping small shops to Fortune 500 companies. 

			p We’ve advised and written for more than 120 clients and appear in over 1,000 websites, ad campaigns and reports.

			p Our team’s journalism and public relations coverage is found in Business Insider, enGadget, Flying Kite Media, Grid magazine, MedCity News, Medical News Today and The Philadelphia Inquirer. 

			p We are honored to have created for:   
			ul Brands:
				li Benefiber
				li Colgate® Oral Care
				li iTriage (now part of Aetna) 
				li Johnson & Johnson
				li Mitsubishi 
				li Nordstrom Rack 
				li TNT cable 
				li VIZIO 

			ul Tech companies:
				li Collaborative Drug Discovery
				li Comodo
				li Ingram Micro
				li Modernizing Medicine
				li Paysa
				li Shoulder Roller
				li Truveris

			ul Medical centers and nonprofits:
				li American College of Obstetricians and Gynecologists 
				li David Geffen School of Medicine at UCLA 
				li Huntsman Cancer Institute, University of Utah
				li National Hemophilia Foundation
				li Public Health Management Corporation
				li Society for Healthcare Epidemiology of America
				li University of Pennsylvania
 


