extends layout

block content
	#home
		h1= title
		p Welcome to #{title}
		header.subnav-hero-section
			h1.subnav-hero-headline
			| Foundation 
			small by ZURB
			ul.subnav-hero-subnav
				li
					a(href='#') Take Action!
				li
					a.is-active(href='#') Carpe Diem!
				li
					a(target='_blank', href='https://zurb.com/responsive') Just do it!
