extends layout

block content
	#home
		p Welcome to #{title}
		header.subnav-hero-section
			.subnav-hero-headline
			h1 Express yourself.  
			p We design and create clear messages to those who matter to you.  
			ul.subnav-hero-subnav
				li
					a(href='#') Take Action!
				li
					a.is-active(href='#') Carpe Diem!
				li
					a(target='_blank', href='https://zurb.com/responsive') Just do it!
