doctype html
html(lang='en')
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel="stylesheet" href='stylesheets/foundation.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			.row
				.columns 
					ul.vertical.medium-horizontal.menu(data-responsive-menu='drilldown medium-dropdown')
						li
							a(href='/') Home
						li
							a(href='/about') About
						li
							a(href='/work') What We Do
								ul.vertical.menu
									li
										a(href='/work/funding-advice') Advice on Fundraising
									li
										a(href='/work/grants') Grant Writing
									li
										a(href='/work/content-marketing') Content Marketing
						li
							a(href='contact') Contact
						li
							a(href='portfolio') View Portfolio
			block content
			block footer
				footer
					.row
						.columns.small-2.large-3
							p Stuff in footer 
							a(href="mailto:caroline@fuelcopy.com")
						.columns.small-2.large-3
							h1 more stuff
						.columns.small-2.large-3
							p stuff stuff





