extends layout

block content
	#work
		header#work.subnav-hero-section
			h1.subnav-hero-headline
			| Trust is a journey.
			small We make the complex relatable, giving you the best chance for success.
			ul.subnav-hero-subnav
				li
					a(href='#') Get Content!
				li
					a.is-active(href='#') Win Funding!
				li
					a(target='_blank', href='https://zurb.com/responsive') See Work Samples!
		section.grid-x
			.cell.small-4
				h3 Online Growth
				p
					| Delight your audience with clear and consistent storytelling. 
					| We meld human stories with accurate facts, so your prospects 
					| will trust you. Our digital creations reflect your value and
					| deliver the results you want.
			.cell.small-4
				h3 Fundraising
				p Do you want funds for a medical research or a health project? We have written hundreds of federal and foundation proposals and can help at any stage of the process. Our clients have won grants in the range of $150,000 to $5 million from funders such as NIH, NSF, CDC and HRSA. Founders of small companies benefit from our Small Business Innovation Research (SBIR) consulting services. 
			.cell.small-4
				h3  Productivity
				p Your medical career demands a high level of productivity. Therefore, we help researchers,  physicians, and health organizations complete grant proposals, journal articles, patient publications and research reports.

		section
			h3 Benefits
			ul 
				li You’ll raise money through sales, funding or investment with our proven methods. 
				li Convey your value better. Grow your reach and reputation as a result. 
				li Spend less time finding and training writers to write about your work properly. 
				li Get an edge on your competition by having a team focused on results.
		section
			h4 How We’ll Work Together
			p We produce, so you succeed. We shoulder creative and technical tasks, so you can focus your energy on the bigger picture. 

			p We start with a no-obligation consultation by phone or video conference. Then, we propose a methodology and plan to reach important objectives. If you like our proposal, great! Then, we start right away.  

			p We share drafts and incorporate your feedback, so you’re in the loop. We aim for results, defined as work with the best potential to reach and impress target audiences. 

			p If you decide to change direction, no problem. We’ll help you seize new opportunities as they arise. 





//-
 
	Digital Marketing 

	Delight your audience with clear and consistent storytelling. We meld human stories with accurate facts, so your prospects will trust you. Our digital creations reflect your value and deliver the results you want.  
	Grant Consulting & Writing 

	Do you want funds for a medical research or a health project? We have written hundreds of federal and foundation proposals and can help at any stage of the process. Our clients have won grants in the range of $150,000 to $5 million from funders such as NIH, NSF, CDC and HRSA. Founders of small companies benefit from our Small Business Innovation Research (SBIR) consulting services. 

	Medical Communications

	Your medical career demands a high level of productivity. Therefore, we help researchers,  physicians, and health organizations complete grant proposals, journal articles, patient publications and research reports.  

	How You’ll Benefit

	You’ll raise money through sales, funding or investment with our proven methods. 

	Convey your value better. Grow your reach and reputation as a result. 

	Spend less time finding and training writers to write about your work properly. 

	Get an edge on your competition by having a team focused on results.  
	
	